body  {
    margin: auto;
    width: 1065px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    cursor: pointer;
    width: 1065px;
    clear: both;
    margin-bottom: 13px;
}

pre {
    margin: 0;
}

body > div {
    clear: both;
}

div, p {
    position: relative;
    width: 1065px;
}

#output {
    overflow-y: scroll;
    max-height: 500px;
}

#output div {
    margin: 0;
    width: 520px;
    float: left;
}

.line-number {
    width: 20px;
    margin-right: 30px;
    text-align: right;
    float: left;
    color: dimgray;
}

#help_me {
    clear:both;
}

#help_me_wrap {
    overflow: hidden;
    height: 0px;
}