body  {
    margin: auto;
    width: 1000px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    cursor: pointer;
    width: 1065px;
    clear: both;
}

body > div {
    clear: both;
}

div, p {
    position: relative;
    width: 1065px;
}

#output {
    overflow-y: scroll;
    max-height: 500px;
}

#output div {
    margin: 0;
    width: 520px;
    float: left;
}