ul {
    list-style-type: none;
}

li {
    cursor: pointer;
    width: 1000px;
    clear: both;
}

#task {
    margin-left: 42px;
}

body > div {
    clear: both;
}

div, p {
    position: relative;
    width: 1000px;
    margin-left: 42px;
}

#output div {
    margin: 0;
    width: 499px;
    float: left;
}